* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.task input {
    width: 37px;
    height: 37px;
    accent-color: teal;
}

.task button {
    padding: 10px 30px;
    background: none;
    border: 2px solid teal;
    color: teal;
    transition: 0.2s;
    cursor: pointer;
    max-height: fit-content;
    user-select: none;
}

.task button:hover {
    background: teal;
    border: 2px solid teal;
    color: white;
}

.task p {
    width: 80%;
    word-break: break-all;
}