.inputForm {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
    margin-bottom: 200px;
}

.inputForm button {
    padding: 30px 10px;
    width: 30%;
    background: none;
    border: 3px solid teal;
    border-left-width: 0;
    color: teal;
    transition: 0.2s;
    cursor: pointer;
}

.inputForm button:hover {
    width: 100%;
    background: teal;
    color: white;
}

.inputForm textarea {
    border: 3px solid teal;
    border-right-width: 1px;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    padding: 5% 20px 5% 5%;
    resize: none;
    overflow: auto;
}

.inputForm textarea::placeholder {
    position: relative;
    top: 0;
    padding-bottom: 300px;
    margin-bottom: 300px;
    font-weight: 900;
    font-size: 20px;
}